<div 
  style="margin: 0 auto;display: block;width: <%= game.width %>; height: <%= game.height %>;">
  <div id="game"></div>
</div>
<script>
  var EJS_player = "#game";
  var EJS_gameUrl = "<%= game.source %>";
	var EJS_core = "<%= game.gameType %>";
  var EJS_gameName = "<%= game.title %>";
  var EJS_pathtodata = "/data/";
</script>
<script src="/data/loader.js"></script>
<style>
  #game canvas {
    margin: 0 auto;
    display: block;
  }
</style>